
<section class="sign-up">
    <form fxLayout="column"
          fxLayoutAlign ="center center"
          fxLayoutGap ="10px"
          #form="ngForm"
          (ngSubmit)="onSubmit(form)">
        <mat-form-field>
            <input type="email"
                   matInput placeholder="Your Email"
                   required
                   email
                   ngModel name="email" #emailInput ="ngModel">
          <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="Should be min 6 char">
              <input matInput
                     type="password"
                     placeholder=" Your Password"
                     ngModel name="pswd"
                     #pswdInput ="ngModel"
                     required minlength="6">
              <mat-hint align="end">{{pswdInput.value?.length}}/6</mat-hint>
              <mat-error *ngIf="pswdInput.hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="!pswdInput.hasError('required')">Password should be min 6 char</mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button
                  color="primary"
                  [disabled]="form.invalid">
            Submit
          </button>

    </form>
  </section>
